.cell {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.border-right-none {
    border-right: none;
}

.border-top-none {
    border-top: none;
}

.cell > input {

    width: 90%;
    height: 90%;
    border: none;
    font-size: 1em;
    text-align: center;
}

.immutable {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.is-black {
    background-color: black;
    color: white;
}