#root {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  width: 300px;
  min-height: 400px;
  right: 0;
  border: 1px solid black;
  overflow: scroll;
}

.sidebar li {
  list-style: none;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.constraints {
  width: 300px;
  min-height: 400px;
  right: 0;
  border: 1px solid black;
}